body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .nav { grid-area: 1 / 1 / 3 / 13; }


    .menu { grid-area: 3 / 1 / 12 / 2; }
    
    
    .tresc { grid-area: 3 / 2 / 12 / 11; }
    
    
    .reklama { grid-area: 3 / 11 / 12 / 13; }
    
    
    .stopka { grid-area: 12 / 1 / 13 / 13; } 