body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem 1fr 4rem;
    margin: 0;
    padding: 0;
    }
    
#nav { 
    grid-area: 1 / 1 / 2 / 13; 
    background-color:#d6e2be;
    color: #6e7a4c;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#nav h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu { 
    grid-area: 2 / 1 / 4 / 2; 
    background-color: #6e7a4c;
}
#menu ul {
    float: left;
    display: block;
    list-style: none;
  }
  
#menu li {
display: block;
float: left;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}

  #menu a.right {
    float: right;
  }

  #menu a:hover {
    background-color: #d6e2be;
    color: black;
  }

#tresc { 
    grid-area: 2 / 2 / 4 / 12; 

}


#reklama { 
    grid-area: 2 / 11 / 4 / 13; 

}


#stopka { 
    grid-area: 4 / 1 / 5 / 13; 

} 